.nav-wrapper a{
  margin-left: 20px;
}

.nav-wrapper ul{
  margin-right: 20px;
}

#description{
  text-align: justify;
  border: 1px inset blue;
  border-radius: 10px;
  background-color: #0ff;
  padding: 10px;
  font-size: 18px;
  line-height: normal;
  font-family: cursive;
}

#myCanvas{
  border:1px solid #d3d3d3;
  position:relative;
  width:100% !important;
  height:350px !important;
}

#numResultsPhoto{
  position: relative;
  left: 45% !important;
}

@media screen and (max-width: 768px) {
  #numResultsPhoto{
    position: relative;
    left: 30% !important;
  }
}
